.navbar.transparent.navbar-inverse .navbar-inner {
    background: rgba(0,0,0,0.4);
 }

.card {
    width: 20rem;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
  }