<div class="image">
  <app-nav></app-nav>
  <br>
  <br>

  <div class="row center">
    <div class="row justify-content-center">
      <div class="col-md-4" style="padding-left: 150px;">
        <div class="card shadow">
          <img class="card-img-top" src="assets/BurgerImg.png" alt="Card image cap">
          <div class="card-body text-center">
            <h5 class="card-title">{{title}}</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a (click)="navMenu(title)" [routerLink]="['/menu', title]" href="#" class="btn btn-primary">Go to Menu</a>
          </div>
        </div>
      </div>
      
      <div class="col-md-4" style="padding-left: 100px;">
        <div class="card shadow">
          <img class="card-img-top" src="assets/PastaImg.png" alt="Card image cap">
          <div class="card-body text-center">
            <h5 class="card-title">{{titleOne}}</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a (click)="navMenu(titleOne)" [routerLink]="['/menu', titleOne]" href="menu" class="btn btn-primary">Go to Menu</a>
          </div>
        </div>
      </div>

      <div class="col-md-4" style="padding-left: 50px;">
        <div class="card shadow">
          <img class="card-img-top" src="assets/DrinksImg.png" alt="Card image cap">
          <div class="card-body text-center">
            <h5 class="card-title">{{titleTwo}}</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a (click)="navMenu(titleTwo)" [routerLink]="['/menu', titleTwo]" href="#" class="btn btn-primary">Go to Menu</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

